
<!doctype html>

<html xmlns:th="http://www.thymeleaf.org"
xmlns:layut="http://www.ultraq.net.nz/thmeLeaf/Layout">

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
	
	<link rel="stylesheet " href="	https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"></link>

	
    <title>Hello, world!</title>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<img src="/img/logoteste.png" width="50" height="50" class="d-inline-block align-top" alt="Logo">
        <a class="navbar-brand" href="#">Sistema de Vendas</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
        
            </ul>
            <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
        </nav>

    <div class="container">
        
        <form  action="/salvarEntrada" th:object="${entrada}" method="post">
            <div class ="form-group" style="padding: 2px;">
				
				<label for="id">ID: </label>
                <input type="text "readonly = "true" class="form-control" id="nome" th:field="*{id}" >
				
                <label for="obs">Observação: </label>
                <input type="text" required class="form-control" id="obs" th:field="*{obs}" >
				
       
				<label>Funcionário:</label>
				<select th:field = "*{funcionario}" class="form-control">
					<option th:each="est: ${listaFuncionarios}" th:value = "${est.id}" th:text = "${est.nome}"></option>
				</select>

				<label>Fornecedores:</label>
				<select th:field = "*{fornecedor}" class="form-control">
					<option th:each="est: ${listaFornecedores}" th:value = "${est.id}" th:text = "${est.nome}"></option>
				</select>
				
				<label for="obs">Valor Total: </label>
               	<input type="text" readonly="reandonly" class="form-control" id="valorTotal" th:field="*{valorTotal}" >
			
				<label for="obs">Quantidade Total: </label>
               	<input type="text" readonly="reandonly" class="form-control" id="quantidadeTotal" th:field="*{quantidadeTotal}" >
			
				<!--Começa item entrada abaixo-->
				<div class = "form-row" th:object = "${itemEntrada}">
					
					<label>Fornecedores:</label>
					<select th:field = "*{produto}" class="form-control">
						<option th:each="est: ${listaProdutos}" th:value = "${est.id}" th:text = "${est.nome}"></option>
					</select>
					
					<label >Quantidade: </label>
	               	<input type="text" readonly="reandonly" class="form-control" id="quantidade" th:field="*{quantidade}" >					
					
					<label >Valor de Custo: </label>
	               	<input type="text" readonly="reandonly" class="form-control" id="valorCusto" th:field="*{valorCusto}" >
				
					<label >Valor de Venda: </label>
	               	<input type="text" readonly="reandonly" class="form-control" id="valor" th:field="*{valor}" >
				
					<button name="acao" th:value="itens" type="submit" class="btn btn-primary">Adicionar </button>
					
					
				</div>
				
				<!--Tabela com os itens -->
				
				<table class="table" id = "tabela" >
			        <thead>
			            <tr>
			                <th>ID</th>
			                <th>Produto</th>
			                <th>Quantidade</th>
			                <th>Valor de Custo</th>
			                <th>Valor de Venda</th>
			                <th>acao</th>
			            </tr>
			        </thead>

			        <tbody >
			            <tr th:each="itemEntrada : ${listaItemEntrada}">
			                <td th:text="${itemEntrada.id}"></td>
			                <td th:text="${itemEntrada.produto.nome}"></td>
			                <td th:text="${itemEntrada.quantidade}"></td>
			                <td th:text="${itemEntrada.valorCusto}"></td>
			                <td th:text="${itemEntrada.valorVenda}"></td>
			                <td>
			                    <a th:href="@{/editarEstado/{id}(id=${itemEntrada.id})}"><i class="fa-regular fa-pen-to-square" style="color: rgb(0, 0, 255);"></i></a> |
			                    <a th:href="@{/removerEstado/{id}(id=${itemEntrada.id})}"><i class="fa-solid fa-trash" style="color: rgb(255, 0, 0);"></i></a>
			                </td>
			            </tr>
			        </tbody>
					
			    </table>
				
				
            </div>
           
            <a><button type="submit" class="btn btn-primary"><i class="fa-solid fa-floppy-disk"></i> Salvar</button> </a>
            <a href="/listarEntrada"  class="btn btn-success"> <i class="fa-solid fa-list"></i>Listar</button> </a>
            <a href="/administrativo"  class="btn btn-danger"> <i class="fa-solid fa-share"></i>Voltar</button> </a>
            </form>
        
    </div>


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/0.9.0/jquery.mask.min.js" integrity="sha512-oJCa6FS2+zO3EitUSj+xeiEN9UTr+AjqlBZO58OPadb2RfqwxHpjTU8ckIC8F4nKvom7iru2s8Jwdo+Z8zm0Vg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>  
	<script>
		$(document).ready(function(){
	  		$('#cep').mask('99.999-999');
		});
  	</script>

</body>
</html>